<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Aboutus.css"/>
<script id="applicationScript" type="text/javascript" src="Aboutus.js"></script>
</head>
<body>
<div id="About_Us">
	<div id="background">
		<img id="p" src="p.png" srcset="p.png 1x">
			
		<img id="p_p" src="p_p.png" srcset="p_p.png 1x">
			
	</div>
	<div id="nav_bar">
		<svg class="bar">
			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img onclick="application.goToTargetView(event)" id="logo" src="logo.png" srcset="logo.png 1x">
			
		<div  onclick="application.goToTargetView(event)" id="QA">
			<span>Q&A</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact_Us">
			<span>Contact Us</span>
		</div>
		<div id="About_Us_v">
			<span>About Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Registration">
			<span>Registration</span>
		</div>
		<div id="hello_guest_">
			<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
		</div>
	</div>
	<svg class="Path_17" viewBox="0 498 1199 1">
		<path id="Path_17" d="M 1199 498 L 0 498 L 1199 498 Z">
		</path>
	</svg>
	<svg class="Rectangle_75">
		<rect id="Rectangle_75" rx="0" ry="0" x="0" y="0" width="1344" height="409">
		</rect>
	</svg>
	<div id="About_us">
		<span>About us</span>
	</div>
	<div id="The_company_was_established_wh">
		<span>The company was established while dealing with the Corona virus under a shared vision to create an easy vacation experience or just a business flight in the easiest and most convenient way for our customers.<br/><br/> after a long period of closure<br/>Our agents make every effort to find for you the best packages</span>
	</div>
	<svg class="Rectangle_79">
		<rect id="Rectangle_79" rx="0" ry="0" x="0" y="0" width="1344" height="409">
		</rect>
	</svg>
	<img id="liron" src="liron.png" srcset="liron.png 1x">
		
	<div id="_21_Ashkelon__My_job_is_to_loo">
		<span><br/>21, Ashkelon<br/><br/>My job is to look for the business packages that are most convenient, inexpensive and relevant to you<br/>For your business trip<br/>  <br/>Favorite destination: London</span>
	</div>
	<div id="Liron_Hamo_Business_Packages_A">
		<span>Liron Hamo<br/>Business Packages Agent</span>
	</div>
	<svg class="Path_26" viewBox="0 498 1199 1">
		<path id="Path_26" d="M 1199 498 L 0 498 L 1199 498 Z">
		</path>
	</svg>
	<svg class="Rectangle_80">
		<rect id="Rectangle_80" rx="0" ry="0" x="0" y="0" width="1344" height="409">
		</rect>
	</svg>
	<div id="_24_Ashdod__My_job_is_to_find_">
		<span><br/>24, Ashdod<br/><br/>My job is to find you the most luxurious cruise packages on the market, at the most affordable price.<br/>  <br/>Favorite destination: Maldives</span>
	</div>
	<div id="Einav_Bitton_Cruise_Packages_A">
		<span>Einav Bitton<br/>Cruise Packages Agent</span>
	</div>
	<img id="einav" src="einav.png" srcset="einav.png 1x">

	<svg class="Path_27" viewBox="0 498 1199 1">
		<path id="Path_27" d="M 1199 498 L 0 498 L 1199 498 Z">
		</path>
	</svg>
	<svg class="Rectangle_81">
		<rect id="Rectangle_81" rx="0" ry="0" x="0" y="0" width="1344" height="409">
		</rect>
	</svg>
	<div id="_27_Rehovot__My_job_is_to_find">
		<span><br/>27, Rehovot<br/><br/>My job is to find you the most affordable all-inclusive packages without complications and with zero effort. <br/> <br/>Favorite destination: Greece</span>
	</div>
	<div id="Ohad_Shalom_All_inclusive_Pack">
		<span>Ohad Shalom<br/>All inclusive Packages Agent</span>
	</div>
	<img id="ohad" src="ohad.png" srcset="ohad.png 1x">
		
	<svg class="Path_28" viewBox="0 498 1199 1">
		<path id="Path_28" d="M 1199 498 L 0 498 L 1199 498 Z">
		</path>
	</svg>
	<svg class="Rectangle_82">
		<rect id="Rectangle_82" rx="0" ry="0" x="0" y="0" width="1344" height="409">
		</rect>
	</svg>
	<div id="_25_Ashdod__My_job_is_to_find_">
		<span><br/>25, Ashdod<br/><br/>My job is to find you the most affordable packages in our beautiful Land of Israel, so you can enjoy a vacation<br/> Without having to fly.<br/>  <br/>Favorite destination: Tel-Aviv</span>
	</div>
	<div id="Daniel_Assayag_Local_Packages_">
		<span>Daniel Assayag<br/>Local Packages Agent</span>
	</div>
	<img id="daniel" src="daniel.png" srcset="daniel.png 1x">
		
</div>
</body>
</html>