<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="changePassword.css"/>
    <script id="applicationScript" type="text/javascript" src="changePassword.js"></script>
</head>
<body>
	<div id="background">
		<img id="p" src="../views/images/p.png" srcset="../views/images/p.png 1x">
			
		<img id="p_n" src="../views/images/p_n.png" srcset="../views/images/p_n.png 1x">
			
	</div>
	<svg class="Rectangle_75">
		<rect id="Rectangle_75" rx="0" ry="0" x="0" y="0" width="1433" height="900">
		</rect>
       
    </svg>
	<div id="nav_bar">
		<svg class="bar">
			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img onclick="application.goToTargetView(event)" id="logo" src="../views/images/logo.png" srcset="../views/images/logo.png 1x">
			
		<div onclick="application.goToTargetView(event)" id="QA">
			<span>Q&A</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact_Us">
			<span>Contact Us</span>
		</div>
		<div id="About_Us_t">
			<span>About Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Registration">
			<span>Registration</span>
		</div>
		<div id="hello_guest_">
			<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
		</div>
	</div>
	<div id="title_">
		<br>Change Your Password</br>
	</div>
	<div id="reg">
		<form id="form1"  >
			<label>enter your email:</label>
			<input type="email" for='email' class="password" id="email" name="email" required><br>
			<label>enter last password:</label>
			<input type="password" for='passOld' class="password" id="passOld"  name="passOld" required><br>
			<label>enter your new password</label>
			<input type="password" for='oldPassword' class="password" id="passVar"  name="oldPassword" required><br>
            <label>enter secondly your new password</label>
			<input type="password" for='varPassword' class="password" id="newPass"  name="varPassword" required><br>
			<button type="button" form="form1" id="submit" >Submit</button>
		</form> 
	</div>
</body>
<!--<script>-->
<!--	function update() {-->
<!--		var passOld;-->
<!--		var passVar;-->
<!--		var newPass;-->
<!--		var mail;-->
<!--		mail = document.getElementById("email").value;-->
<!--		passOld = document.getElementById("passOld").value;-->
<!--		passVar = document.getElementById("passVar").value;-->
<!--		newPass = document.getElementById("newPass").value;-->
<!--		console.log(mail + passVar + passOld + newPass);-->
<!--		return true;-->
<!--	}-->



</script>
</html>