<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>contact us</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="contactus.css"/>
<script id="applicationScript" type="text/javascript" src="contactus.js"></script>
</head>
<body>
<div id="contact_us">
	<div id="background">
		<img id="p" src="p.png" srcset="p.png 1x">
			
	</div>
	<div id="nav_bar">
		<svg class="bar">

			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img href="/home" id="logo" src="logo.png" srcset="logo.png 1x">
		<a href="/qa" id="QA"><span>Q&A</span></a>
		<a href="/contactus" id="Contact_Us_r"><span>Contact Us</span></a>
		<a href="/Aboutus" id="About_Us"><span>About Us</span></a>
		<a href="/login" id="Login"><span>Login</span></a>
		<a href="/registration" id="Registration"><span>Registration</span></a>
		<label id="hello">hello, guest</label><br>

	</div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
	<script type="text/javascript">
		(function() {
			emailjs.init("user_o2CH7yyXlbJp01sfF6SYD");
		})();
	</script>

	<svg class="Path_25" viewBox="0 0 1102 1024">
		<path id="Path_25" d="M 551 0 C 855.308837890625 0 1102 229.230224609375 1102 512 C 1102 794.769775390625 855.308837890625 1024 551 1024 C 246.6911315917969 1024 0 794.769775390625 0 512 C 0 229.230224609375 246.6911315917969 0 551 0 Z">
		</path>
	</svg>
	<div id="Contact_Us_x">
		<span>Contact Us</span>
	</div>

	<form action="/cu" method="POST" onsubmit="return Func()">
		<table align="center" cellspaceing="0">

			<tr align="center">
				<td ><label id="nametext">Name</label></td>
				<td><input type="text"  name="name" id="name" required></td>
			</tr>
			<tr align="center">
				<td ><label id="emailtext">Email</label></td>
				<td><input type="email"  name="email" id="email" required></td>
			</tr>
			<tr align="center">

				<td colspan="2"><input type="text"  name="msg" id="msg" required></td>
			</tr>

			<tr align="center">
				<td colspan="2" ><button type="submit" id="submitBTN">submit</button></td>

			</tr>
			<tr><div id="Leave_a_message_and_our_agents">
					<span>Leave a message and our agents will get back to you soon</span>
				</div></tr>

		</table>
	</form>





</div>
</body>
</html>