<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>London Trip</title>
  <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="LondonOT.css"/>
  <script id="applicationScript" type="text/javascript" src="LondonOT.js"></script>
</head>
<body>
<div id="Costumer_Personal_Page">
  <div id="background">
    <img id="p" src="p.png" srcset="p.png 1x">

    <img id="p_n" src="p_n.png" srcset="p_n.png 1x">

  </div>
  <div id="nav_bar">
    <svg class="bar">

      <rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
      </rect>
    </svg>
    <a href="/">
      <img id="logo" src="logo.png" srcset="logo.png 1x"></a>
    <a href="/qa" id="QAl"><span>Q&A</span></a>
    <a href="/contactus" id="Contact_Us"><span>Contact Us</span></a>
    <a href="/Aboutus" id="About_Us"><span>About Us</span></a>
    <a href="/login" id="Login"><span>Login</span></a>
    <a href="/registration" id="Registration"><span>Registration</span></a>
    <label id="hello">hello, guest</label><br>
  </div>
    <svg class="Rectangle_75">
      <rect id="Rectangle_75" rx="0" ry="0" x="0" y="0" width="1433" height="900">
        <div>
          <table class="table" id="table">
            <tbody>
            <tr class="titles_table">
              <th>location </th>
              <th>area </th>
              <th>trip start </th>
              <th>trip end</th>
              <th>price</th>
              <th>hotel</th>
              <th>star</th>
              <th>flight</th>
              <th>package Type</th>
              <th>about</th>
            </tr>
            </tbody>
          </table>
        </div>
      </rect>
    </svg>
  <div>
      <img src="img2.jpg" id="img22">
  </div>
  <div id="title_">
    <br>Specific Organization Trip</br>
  </div>

  <a href="TripRegistrationform">
    <button class=" button join">join this trip </button>
  </a>
  <a href="https://api.whatsapp.com/send?phone=972503399257&amp;text=Hi there! I have a question :)"><img id="Whatsapp" src="Whatsapp.png" srcset="Whatsapp.png 1x"></a>
  <a href="https://www.facebook.com/Go-Travel-104865495139729/"><img id="facebook" src="facebook.png" srcset="facebook.png 1x"></a>
  <a href="https://www.instagram.com/go_travel_instagrm/"><img id="instagram" src="instagram.png" srcset="instagram.png 1x" ></a>
</div>

</body>
</html>