<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>long page</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="long.css"/>
<script id="applicationScript" type="text/javascript" src="long.js"></script>
</head>
<body>
<div id="long_page">


	<div id="nav_bar">
		<svg class="bar">
			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img onclick="application.goToTargetView(event)" id="logo" src="../views/images/logo.png" srcset="../views/images/logo.png 1x">
			
		<div onclick="application.goToTargetView(event)" id="QA">
			<span>Q&A</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact_Us">
			<span>Contact Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="About_Us">
			<span>About Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Registration">
			<span>Registration</span>
		</div>
		<div id="hello_guest_">
			<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div id="search fields">

		<div class="fild">
			<label >Location:</label>
			<br>
			<input type="text"  name="location" id="location">
		</div>
		<div class="fild">
			<label >Start date:</label>
			<br>
			<input type="date" id="start" name="trip-start">
			<br>
			<label >End date:</label>
			<br>
			<input type="date" id="end" name="trip-end">
		</div>
		<div class="fild">
			<label >Cost:</label>
			<br>
			<input type="number"  name="cost" id="cost">
		</div>
		<div class="fild">
			<label >Amount of travels:</label>
			<br>
			<input type="number"  name="travels" id="travelsNum">
		</div>
		<div class="fild">
			<label >Packages left:</label>
			<br>
			<input type="number"  name="left" id="left" >
		</div>
		<div class="fild">
			<label >Hotel:</label>
			<br>
			<input type="text"  name="hotel" id="hotel">
		</div>
		<div class="fild">
			<label >Packages purchased:</label>
			<br>
			<input type="number"  name="purchased" id=" purchased">
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div id="btn">
		<button type="button" id="add">Add</button>
		<button type="button" id="search">Dearch</button>
		<button type="button" id="delete">Delete</button>
		<button type="button" id="update">Update</button>
	</div>



	</div>
</div>
</body>
</html>