<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package Management</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="orderInfo.css"/>
    <script id="applicationScript" type="text/javascript" src="orderInfo.js"></script>
</head>
<body>
<div id="Costumer_Personal_Page">
    <div id="background">
        <img id="p" src="p.png" srcset="p.png 1x">

        <img id="p_n" src="p_n.png" srcset="p_n.png 1x">

    </div>
    <div id="nav_bar">
        <svg class="bar">
            <rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
            </rect>
        </svg>
        <img onclick="application.goToTargetView(event)" id="logo" src="logo.png" srcset="logo.png 1x">

        <div onclick="application.goToTargetView(event)" id="QA">
            <span>Q&A</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Contact_Us">
            <span>Contact Us</span>
        </div>
        <div id="About_Us_t">
            <span>About Us</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Login">
            <span>Login</span>
        </div>
        <div onclick="application.goToTargetView(event)" id="Registration">
            <span>Registration</span>
        </div>
        <div id="hello_guest_">
            <span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
        </div>
    </div>
    <svg class="Rectangle_75">
        <rect id="Rectangle_75" rx="0" ry="0" x="0" y="0" width="1433" height="900">
            <div>
                <table class="table">
                    <tr>
                        <th>
                            <p class="tit">Spain Trip:</p> <br>18.10.19-25.10.19 <br>with fly <br> hotel: "Golo" <br> 5 stars <br> price: 5000$<br><br>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p class="tit">Holand Trip:<p><br> 4.05.19-10.05.19 <br>with fly <br> hotel: "Roje"<br> 5 stars <br> price: 5000$
                        </th>
                    </tr>

                </table>
            </div></rect>
    </svg>
    <div id="title_">
        <br>Package Management</br>
    </div>
    <div class="combo">
        <table id="tableCombo">
            <tr>
                <td>
                    <label >Choose a status:</label>
                </td>
            </tr>
           <tr>
               <td>
                   <form action="/action_page.php">
                   <select class='com' id="status" name="status" id="st">
                       <option >choose status</option>
                       <option value="approve">approve order</option>
                       <option value="cancel">cancel order</option>
                       <option value="wait">pending order</option>
                   </select>
                   </form>
               </td>
           </tr>
          <tr>
              <td>
                  <button class="com" type="submit" value="Submit" id="submit">Submit</button>
              </td>
          </tr>
        </table>
    </div>
</div>
</body>
</html>