<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Q&A</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="q&a.css"/>
<script id="applicationScript" type="text/javascript" src="q&a.js"></script>
</head>
<body>
<div id="QA">
	<div id="background">
		<img id="p" src="p.png" srcset="p.png 1x">
			
	</div>
	<div id="nav_bar">
		<svg class="bar">

			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img herf="/home" id="logo" src="logo.png" srcset="logo.png 1x">
		<a herf="/q&a" id="QA_s"><span>Q&A</span></a>
		<a href="/contactus" id="Contact_Us"><span>Contact Us</span></a>
		<a href="/Aboutus" id="About_Us"><span>About Us</span></a>
		<a href="/login" id="Login"><span>Login</span></a>
		<a href="/registration" id="Registration"><span>Registration</span></a>
		<div id="hello_guest_">
			<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
		</div>
	</div>
</div>
<svg class="Rectangle">
	<rect id="Rectangle" rx="0" ry="0" x="0" y="0" width="1413" height="1194">
	</rect>
</svg>
<svg class="headLine_rec">
	<rect id="headLine_rec" rx="64" ry="64" x="0" y="0" width="734" height="128">
	</rect>
</svg>
<div id="QA_">
	<span>Q&A</span>
</div>
<svg class="q1">
	<rect id="q1" rx="30" ry="30" x="0" y="0" width="1244" height="60">
	</rect>
</svg>
<svg class="ans1">
	<rect id="ans1" rx="53" ry="53" x="0" y="0" width="1244" height="106">
	</rect>
</svg>
<svg class="q2">
	<rect id="q2" rx="30" ry="30" x="0" y="0" width="1244" height="60">
	</rect>
</svg>
<svg class="q3">
	<rect id="q3" rx="30" ry="30" x="0" y="0" width="1244" height="60">
	</rect>
</svg>

<div id="How_can_I_contact_the_agency">
	<span>How can I contact the agency?</span>
</div>
<div id="We_have_a_page_called_Contact_">
	<span>We have a page called "Contact Us" Feel free to leave a message and we will get<br>back to you soon.You can reach the stand through the navigation bar</span>
</div>
<div id="You_can_go_to_our_main_page_an">
	<span>You can go to our main page and search for the right package especially for you<br>according to our filter.Then click on the desired package</span>
</div>
<div id="How_do_I_book_a_vacation_packa">
	<span>How do I book a vacation package?</span><br>
</div>
<svg class="ans1_ba" viewBox="0 0 1244 106">
	<path id="ans1_ba" d="M 53 0 L 1191 0 C 1220.271118164063 0 1244 23.72890663146973 1244 53 C 1244 82.27109527587891 1220.271118164063 106 1191 106 L 53 106 C 23.72890663146973 106 0 82.27109527587891 0 53 C 0 23.72890663146973 23.72890663146973 0 53 0 Z">
	</path>
</svg>
<div id="How_do_I_look_at_packages_I_li">
	<span>How do I look at packages I liked?</span><br>
</div>
<div id="You_can_enter_your_personal_pa">
	<span>You can enter your personal page by clicking on your name at the top of the page<br>and there you will find your wishlist</span>
</div>
<svg class="ans1_bd" viewBox="0 0 1244 106">
	<path id="ans1_bd" d="M 53 0 L 1191 0 C 1220.271118164063 0 1244 23.72890663146973 1244 53 C 1244 82.27109527587891 1220.271118164063 106 1191 106 L 53 106 C 23.72890663146973 106 0 82.27109527587891 0 53 C 0 23.72890663146973 23.72890663146973 0 53 0 Z">
	</path>
</svg>
<svg class="q3_be">
	<rect id="q3_be" rx="30" ry="30" x="0" y="0" width="1244" height="60">
	</rect>
</svg>
<div id="How_do_I_look_at_packages_I_al">
	<span>How do I look at packages I already order?</span><br>
</div>
<div id="You_can_enter_your_personal_pa_bg">
	<span>You can enter your personal page by clicking on your name at the top of the page<br>and there you will find your orders history</span>
</div>
<svg class="ans1_bh" viewBox="0 0 1244 106">
	<path id="ans1_bh" d="M 53 0 L 1191 0 C 1220.271118164063 0 1244 23.72890663146973 1244 53 C 1244 82.27109527587891 1220.271118164063 106 1191 106 L 53 106 C 23.72890663146973 106 0 82.27109527587891 0 53 C 0 23.72890663146973 23.72890663146973 0 53 0 Z">
	</path>
</svg>
</div>
</body>
</html>