<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../public/css/registration.css"/>
<script id="applicationScript" type="text/javascript" src="../public/js/registration.js"></script>
</head>
<body>
<div id="Registration">
	<div id="background">
		<img id="p" src="../src/p.png" srcset="../src/p.png 1x">
			
	</div>
	<div id="nav_bar">
		<svg class="bar">
			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img onclick="application.goToTargetView(event)" id="logo" src="../src/logo.png" srcset="../src/logo.png 1x">
			
		<div onclick="application.goToTargetView(event)" id="QA">
			<span>Q&A</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact_Us">
			<span>Contact Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="About_Us">
			<span>About Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div id="Registration_u">
			<span>Registration</span>
		</div>
	</div>
	<div id="reg">
		<svg class="Path_2" viewBox="0 0 1292.238 1053.745">
			<path id="Path_2" d="M 0 0 L 1292.23779296875 0 L 1292.23779296875 1053.74462890625 L 0 1053.74462890625 L 0 0 Z">
			</path>
		</svg>
		<div id="Email">
			<span>Email</span>
		</div>
		<div id="Password">
			<span>Password</span>
		</div>
		<div id="Group_8">
			<div id="Group_5">
				<svg class="Path_6" viewBox="0 0 337 71">
					<path id="Path_6" d="M 0 0 L 337 0 L 337 71 L 0 71 L 0 0 Z">
					</path>
				</svg>
				<div id="Sign_In">
					<span>Sign In</span>
				</div>
			</div>
		</div>
		<svg class="Path_18" viewBox="0 0 352.516 61.815">
			<path id="Path_18" d="M 0 0 L 352.515869140625 0 L 352.515869140625 61.8153076171875 L 0 61.8153076171875 L 0 0 Z">
			</path>
		</svg>
		<div id="First_Name">
			<span>First Name</span>
		</div>
		<div id="Last_Name">
			<span>Last Name</span>
		</div>
		<div id="Phone_number">
			<span>Phone number</span>
		</div>
		<div id="Confirm_Password">
			<span>Confirm Password</span>
		</div>
		<svg class="Path_19" viewBox="0 0 352.516 61.815">
			<path id="Path_19" d="M 0 0 L 352.515869140625 0 L 352.515869140625 61.8153076171875 L 0 61.8153076171875 L 0 0 Z">
			</path>
		</svg>
		<svg class="Path_20" viewBox="0 0 352.516 61.815">
			<path id="Path_20" d="M 0 0 L 352.515869140625 0 L 352.515869140625 61.8153076171875 L 0 61.8153076171875 L 0 0 Z">
			</path>
		</svg>
		<svg class="Path_21" viewBox="0 0 352.516 61.815">
			<path id="Path_21" d="M 0 0 L 352.515869140625 0 L 352.515869140625 61.8153076171875 L 0 61.8153076171875 L 0 0 Z">
			</path>
		</svg>
		<svg class="Path_22" viewBox="0 0 352.516 61.815">
			<path id="Path_22" d="M 0 0 L 352.515869140625 0 L 352.515869140625 61.8153076171875 L 0 61.8153076171875 L 0 0 Z">
			</path>
		</svg>
		<svg class="Path_23" viewBox="0 0 352.516 61.815">
			<path id="Path_23" d="M 0 0 L 352.515869140625 0 L 352.515869140625 61.8153076171875 L 0 61.8153076171875 L 0 0 Z">
			</path>
		</svg>
	</div>
	<div id="hello_guest_">
		<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
	</div>
</div>
</body>
</html>