<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>short page</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../public/css/short.css"/>
<script id="applicationScript" type="text/javascript" src="../public/js/short.js"></script>
</head>
<body>
<div id="short_page">
	<div id="background">
		<img id="p" src="../src/p.png" srcset="../src/p.png 1x">
			
	</div>
	<div id="nav_bar">
		<svg class="bar">
			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img onclick="application.goToTargetView(event)" id="logo" src="../src/logo.png" srcset="../src/logo.png 1x">
			
		<div id="QA">
			<span>Q&A</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact_Us">
			<span>Contact Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="About_Us">
			<span>About Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Registration">
			<span>Registration</span>
		</div>
		<div id="hello_guest_">
			<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
		</div>
	</div>
	<svg class="Rectangle_65">
		<rect id="Rectangle_65" rx="64" ry="64" x="0" y="0" width="734" height="128">
		</rect>
	</svg>
</div>
</body>
</html>