<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../public/css/TripRegistrationform.css"/>
</head>
<body>
	<div id="background">
		<img id="p" src="../src/p.png" srcset="../src/p.png 1x">
			
		<img id="p_n" src="../src/p_n.png" srcset="../src/p_n.png 1x">
			
	</div>
	<svg class="Rectangle_75">
		<rect id="Rectangle_75" rx="0" ry="0" x="0" y="0" width="1433" height="900">
		</rect>
       
    </svg>
	<div id="nav_bar">
		<svg class="bar">
			<rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
			</rect>
		</svg>
		<img onclick="application.goToTargetView(event)" id="logo" src="../src/logo.png" srcset="../src/logo.png 1x">
			
		<div onclick="application.goToTargetView(event)" id="QA">
			<span>Q&A</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact_Us">
			<span>Contact Us</span>
		</div>
		<div id="About_Us_t">
			<span>About Us</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Registration">
			<span>Registration</span>
		</div>
		<div id="hello_guest_">
			<span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
		</div>
	</div>
	<div id="title_">
		<br>Trip Registration Form </br>
	</div>
	<div id="reg">
		<form action="ssskkk.xlsx" method="get" id="form1">
			<label for="fname">First name:</label>
			<input type="text" id="fname" name="fname" required>
			<label for="lname">Last name:</label>
			<input type="text" id="lname" name="lname" required >
			<label for="lname">Phone number:</label> 
			<input type="number" id="phone" name="phoneNo" required >
			<label for="lname">Mail Address:</label>
			<input type="email" id="Mail" name="Mail" required>
			<button type="submit" form="form1"  value="Submit">Submit</button>
		</form> 
	</div>	


<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
