<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Costumer Personal Page</title>
  <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="UsOT.css"/>
  <script id="applicationScript" type="text/javascript" src="UsOT.js"></script>
</head>
<body>
<div id="Costumer_Personal_Page">
  <div id="background">
    <img id="p" src="p.png" srcset="p.png 1x">

    <img id="p_n" src="p_n.png" srcset="p_n.png 1x">

  </div>
  <div id="nav_bar">
    <svg class="bar">
      <rect id="bar" rx="0" ry="0" x="0" y="0" width="1532" height="88">
      </rect>
    </svg>
    <img onclick="application.goToTargetView(event)" id="logo" src="logo.png" srcset="logo.png 1x">

    <div onclick="application.goToTargetView(event)" id="QA">
      <span>Q&A</span>
    </div>
    <div onclick="application.goToTargetView(event)" id="Contact_Us">
      <span>Contact Us</span>
    </div>
    <div id="About_Us_t">
      <span>About Us</span>
    </div>
    <div onclick="application.goToTargetView(event)" id="Login">
      <span>Login</span>
    </div>
    <div onclick="application.goToTargetView(event)" id="Registration">
      <span>Registration</span>
    </div>
    <div id="hello_guest_">
      <span>hello, guest</span><span style="font-family:Berlin Sans FB;"></span><br>
    </div>
  </div>
  <svg class="Rectangle_75">
    <rect id="Rectangle_75" rx="0" ry="0" x="0" y="0" width="1433" height="900">
      <div>
        <table class="table" id="table">
          <tbody>
          <tr class="titles_table">
            <th>location </th>
            <th>area </th>
            <th>trip start </th>
            <th>trip end</th>
            <th>price</th>
            <th>hotel</th>
            <th>star</th>
            <th>flight</th>
            <th>package Type</th>
            <th>about</th>
          </tr>
          </tbody>
        </table>
      </div>
    </rect>
  </svg>
  <div>
    <img src="img1.jpg" id="img22">
  </div>
  <a href="TripRegistrationform">
    <button class=" button join">join this trip </button>
  </a>
  <div id="title_">
    <br>Specific Organization Trip</br>
  </div>
</div>

</body>
</html>