.mediaViewInfo {
	--web-view-name: contact us;
	--web-view-id: contact_us;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: contact_us;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#contact_us {
	position: absolute;
	width: 1530px;
	height: 1550px;
	overflow: hidden;
	--web-view-name: contact us;
	--web-view-id: contact_us;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#background {
	mix-blend-mode: normal;
	position: absolute;
	width: 1530px;
	height: 1550px;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: -1;
}
input {
	height: 50px;
	width: 40%;
	left:70px;
	margin: 40px;
	display: inline-block;
	border: 5px solid black;

}
label{

	position: absolute;
	overflow: hidden;
	width: 105px;
	height: 38px;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;

}
#p {
	position: absolute;
	width: 1979px;
	height: 2376px;
	left: 0px;
	top: -430px;
	overflow: visible;
}
#nav_bar {
	position: absolute;
	width: 1532px;
	height: 361px;
	left: 0px;
	top: -36px;
	overflow: visible;
}
#bar {
	opacity: 0.44;
	fill: rgba(35,41,77,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bar {
	position: absolute;
	overflow: visible;
	width: 1532px;
	height: 88px;
	left: 0px;
	top: 141px;
}
#logo {
	position: absolute;
	width: 361px;
	height: 361px;
	left: 585px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "Home.ejs";
	cursor: pointer;
}
#msg{
	width: 600px;
	height:200px;
	font-size:14pt;

}
table{
	margin-left:auto; margin-right:auto;
	width: 900.238px;
	height: 400.745px;
	left: 400px;
	position: absolute;
	bottom:400px;



}
#QA {
	left: 255px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target:"q&a.ejs";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Contact_Us_r {
	left: 57px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#About_Us {
	left: 400px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "Aboutus.ejs";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Login {
	left: 1183px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "login.ejs";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Registration {
	left: 1328px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "registration.html";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#hello{
	left: 1402px;
	top: 104px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,2,2,1);
}
#Path_25 {
	opacity: 0.67;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_25 {
	overflow: visible;
	position: absolute;
	width: 1102px;
	height: 1024px;
	left: 222px;
	top: 356px;
	transform: matrix(1,0,0,1,0,0);
}
#Contact_Us_x {
	left: 551px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 430px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(6,2,2,1);
}
#Rectangle_16 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 314px;
	left: 484.5px;
	top: 848px;
}
#Path_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 352.516px;
	height: 61.815px;
	left: 692.984px;
	top: 648px;
	transform: matrix(1,0,0,1,0,0);
}
#emailtext{text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;}
#nametext{text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;}
#Path_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#sumbit{
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgb(5, 7, 7);

}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 352.516px;
	height: 61.815px;
	left: 692.984px;
	top: 725.092px;
	transform: matrix(1,0,0,1,0,0);
}
#Leave_a_message_and_our_agents {
	left: 551px;
	top: 1198px;
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 140px;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(6,2,2,1);
}
#facebook {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 20px;
	top: 1300px;
}
#Whatsapp {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 160px;
	top: 1305px;
}
#instagram
{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 100px;
	top: 1305px;
}