.mediaViewInfo {
	--web-view-name: short page;
	--web-view-id: short_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: short_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#packageManagementPage {
	position: absolute;
	width: 1530px;
	height: 1550px;
	overflow: hidden;
	--web-view-name: short page;
	--web-view-id: short_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#background {
	mix-blend-mode: normal;
	position: absolute;
	width: 1530px;
	height: 1550px;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: -1;
}
#p {
	position: absolute;
	width: 1979px;
	height: 2376px;
	left: 0px;
	top: -430px;
	overflow: visible;
}
#nav_bar {
	position: absolute;
	width: 1532px;
	height: 361px;
	left: 0px;
	top: -36px;
	overflow: visible;
}
#bar {
	opacity: 0.44;
	fill: rgba(35,41,77,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	z-index: -1;
}
.bar {
	position: absolute;
	overflow: visible;
	width: 1532px;
	height: 88px;
	left: 0px;
	top: 141px;
}
#logo {
	position: absolute;
	width: 361px;
	height: 361px;
	left: 585px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.ejs;
	cursor: pointer;
}
#QA {
	left: 255px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Contact_Us {
	left: 57px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: contactus.ejs;
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#About_Us {
	left: 400px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Aboutus.ejs;
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Login {
	left: 1183px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: login.ejs;
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Registration {
	left: 1328px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: registration.ejs;
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#hello_guest_ {
	left: 1407px;
	top: 103px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,2,2,1);
}
#Rectangle_65 {
	fill: rgba(132,218,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65 {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 734px;
	height: 300px;
	left: 373px;
	top: 397px;
}
#Rectangle_75 {
	object-position: 50% 20%;
	opacity: 0.95;
	fill: rgb(107, 134, 170);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	border-color: #333333;
	border: #333333;
}
.Rectangle_75 {
	mix-blend-mode: lighten;
	position: absolute;
	overflow: visible;
	width: 1433px;
	height: 620px;
	left: 49px;
	top: 348px;
	z-index: 2;
}

#Rectangle_76 {
	object-position: 50% 20%;
	opacity: 1;
	fill: rgb(236, 239, 243);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	overflow-y: scroll;
	height:100%;
	shape-rendering: auto;
	border-color: #333333;
	border: #333333;

	z-index: 4;


}
.Rectangle_76 {
	mix-blend-mode: lighten;
	position: absolute;
	overflow: visible;
	width: 1433px;
	height: 620px;
	left: 49px;
	top: 300px;
	z-index: 2;
	overflow: scroll;


}

#title_ {
	text-align: center;
	top: 350px;
	left:200px;
	position: absolute;
	overflow: visible;
	width: 1188px;
	white-space: nowrap;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
	z-index: 3;
}
.button {
	text-align: center;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(0,0,0,1);
	z-index: 3;
	cursor: pointer;
	background-color: #26697556;
	border-radius: 12px;
	display: flex;
	justify-content:center;
	padding: 30px 32px;
	text-decoration: none;
	width: 100px;
	height: 60px;
	border-color: #faf9fa;
	color: #faf7fa;



}

.main_btn{
	width: 700px;
	height: 2%;
	left: 30%;
	z-index:5;
	display: flex;
	position: absolute;

}

#result{
	display: flex;
	position: absolute;
	top: 1000px;
	left: 30px;
	z-index:5;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}
