.mediaViewInfo {

	--web-view-id: QA;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: QA;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#QA{
	position: absolute;
	width: 1530px;
	height: 1550px;
	overflow: hidden;

	--web-view-id: QA;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#background {
	mix-blend-mode: normal;
	position: absolute;
	width: 1530px;
	height: 1550px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#p {
	position: absolute;
	width: 1979px;
	height: 2376px;
	left: 0px;
	top: -430px;
	overflow: visible;
}
#nav_bar {
	position: absolute;
	width: 1532px;
	height: 361px;
	left: 0px;
	top: -36px;
	overflow: visible;
}
#bar {
	opacity: 0.44;
	fill: rgba(35,41,77,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bar {
	position: absolute;
	overflow: visible;
	width: 1532px;
	height: 88px;
	left: 0px;
	top: 141px;
}
#logo {
	position: absolute;
	width: 361px;
	height: 361px;
	left: 585px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "Home.html";
	cursor: pointer;
}
#QA_s {
	left: 255px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "q&a.html";
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Contact_Us {
	left: 57px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "contactus.html";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#About_Us {
	left: 400px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "Aboutus.html";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Login {
	left: 1183px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target:"login.html";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Registration {
	left: 1328px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: "registration.html";
	cursor: pointer;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#hello_guest_ {
	left: 1407px;
	top: 103px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,2,2,1);
}
#Rectangle {
	opacity: 0.72;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle {
	position: absolute;
	overflow: visible;
	width: 1413px;
	height: 1194px;
	left: 59px;
	top: 356px;
}
#headLine_rec {
	fill: rgba(132,218,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.headLine_rec {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 734px;
	height: 128px;
	left: 373px;
	top: 397px;
}
#QA_ {
	left: 526px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 430px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(6,2,2,1);
}
#q1 {
	fill: rgba(5,15,14,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.q1 {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1244px;
	height: 60px;
	left: 155px;
	top: 644px;
}
#ans1 {
	fill: rgba(132,218,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ans1 {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1244px;
	height: 106px;
	left: 155px;
	top: 717px;
}
#q2 {
	fill: rgba(5,15,14,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.q2 {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1244px;
	height: 60px;
	left: 155px;
	top: 865px;
}
#q3 {
	fill: rgba(5,15,14,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.q3 {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1244px;
	height: 60px;
	left: 155px;
	top: 1091px;
}

#How_can_I_contact_the_agency {
	left: 188px;
	top: 658px;
	position: absolute;
	width: 429px;
	text-align: left;
	font-family: Arial;
	word-wrap: break-word;
	word-wrap: break-word;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#We_have_a_page_called_Contact_ {
	left: 188px;
	top: 738px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	position: absolute;
	overflow: visible;
	width: 1196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#You_can_go_to_our_main_page_an {
	left: 188px;
	top: 964px;
	position: absolute;
	overflow-wrap: break-word;
	overflow: visible;
	word-wrap: break-word;
	width: 1196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#How_do_I_book_a_vacation_packa {
	left: 188px;
	top: 879px;
	position: absolute;
	overflow-wrap: break-word;
	overflow: hidden;
	width: 570px;
	height: 40px;
	word-wrap: break-word;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#ans1_ba {
	fill: rgba(132,218,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ans1_ba {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 1244px;
	height: 106px;
	left: 155px;
	top: 943px;
	transform: matrix(1,0,0,1,0,0);
}
#How_do_I_look_at_packages_I_li {
	left: 179px;
	top: 1101px;
	word-wrap: break-word;
	position: absolute;
	overflow: hidden;
	width: 570px;
	height: 40px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#You_can_enter_your_personal_pa {
	left: 180px;
	top: 1186px;
	position: absolute;
	overflow-wrap: break-word;
	overflow: visible;
	width: 1196px;
	white-space: nowrap;
	word-wrap: break-word;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#ans1_bd {
	fill: rgba(132,218,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ans1_bd {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 1244px;
	height: 106px;
	left: 155px;
	top: 1165px;
	transform: matrix(1,0,0,1,0,0);
}
#q3_be {
	fill: rgba(5,15,14,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.q3_be {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1244px;
	height: 60px;
	left: 164px;
	top: 1313px;
}
#How_do_I_look_at_packages_I_al {
	left: 188px;
	top: 1323px;
	position: absolute;
	overflow: visible;
	width: 626px;
	height: 40px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#You_can_enter_your_personal_pa_bg {
	left: 189px;
	top: 1408px;
	position: absolute;
	overflow: visible;
	width: 600px;
	word-wrap: break-word;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	overflow-wrap: break-word;
	hyphens: auto;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#ans1_bh {
	fill: rgba(132,218,212,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ans1_bh {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 1244px;
	height: 106px;
	left: 156px;
	top: 1387px;
	transform: matrix(1,0,0,1,0,0);
}